.form-group {
	margin-bottom: 15px;
	float: none;
	clear: both;
	padding: 15px 0px;
}

.newGroups {
	padding: 10px 0px 28px 0px !important;
}

.col-md-9.newRadio input {
    position: relative !important;
}
.col-md-9.newRadio .radio {
    float: none !important;
    display: inline-block;
}

.formInpts label {
	display: block !important;
	width: 100%;
	color: rgb(255, 255, 255);
	background: rgb(0, 187, 189) none repeat scroll 0% 0%;
	margin: 0px auto 15px;
	padding: 8px 7px;
}

.formInpts {
    display: inline-block;
    float: left;
    width: 20%;
}

@media screen and (max-width: 990px) {
.form-group
{
    padding: 0px;
}
.formInpts {
    display: inline-block;
    float: left;
    width: 33%;
    margin: 0px auto 15px;
}
.col-md-2.fullInputs.inputGroupContainer  .input-group
{
    width: 100%;
}
.formInpts .input-group {
    width: 96%;
    margin: 0px auto;
}
}

@media screen and (max-width: 750px) {
    
 .col-md-2.fullInputs.inputGroupContainer {
	width: 99% !important;
	display: inline-block;
}   
.formInpts {
	width: 50%;
}
}
@media screen and (max-width: 480px) {
    
 .formInpts {
	width: 100%;
}   
  .newRadio .radio {
	display: block !important ;
	float: none  ;
	margin: 0px auto ;
	text-align: left;
}
    .newRadio  .radio label {
	padding-left: 19px;
}


}